.eb-font-formatting {

    .eb-pills {
        width: 100%;
    }

    .eb-pill {
        width: 100%;
    }

    .eb-pill-item {
        font-size: 14px;

        // I want the pill button to be taller but the iframe version can't seem to inherit this.
        line-height: 14px;

        // Hide pill text
        > span {
            display: none;
        }
    }
}