.ebd-block {
    &[data-type=buttons] {
        .btn {
            .user-select(text);
            cursor: text;
        }
    }
}

.eb-composer-button-preview {

    .eb-swatch-preview {
        text-align: center;
        padding: @eb-composer-gutter / 3;
    }

    .btn {
        width: 100%;
    }
}