[data-eb-composer-block-readmore] {
    text-align: center;

    > div {
        background: #fff;
        border: 1px dashed #d7d7d7;
        padding: 5px 0;
        color: #666;
    }
}

[data-type="readmore"] {
    .block-info {
        color: #666;
        font-size: 12px;

        padding: 12px;
        border: 1px dashed #d7d7d7;
    }
}