.ebd-block {
    &[data-type=rule] {
    }
}

// Rule swatch picker
.eb-composer-swatch-rule {
    padding: 10px;
    font-size: 12px;

    > div {
        padding: 10px 10px 10px 0;
        margin: 10px -10px -10px 10px;
        border-radius: 3px 0 0 0;
    }
}