/*------------------------------------*\
    $states.less
\*------------------------------------*/

// Sample
// ----------------
/*
<a class="eb-state-publish badge" href="javascript:void(0);">
	<i class="fa fa-check"></i>
</a>
<a class="eb-state-unpublish badge" href="javascript:void(0);">
	<i class="fa fa-times"></i>
</a>
<a class="eb-state-trash badge" href="javascript:void(0);">
	<i class="fa fa-trash-o"></i>
</a>
<a class="eb-state-scheduled badge" href="javascript:void(0);">
	<i class="fa fa-clock-o"></i>
</a>
<a class="eb-state-locked badge" href="javascript:void(0);">
	<i class="fa fa-lock"></i>
</a>
<a class="eb-state-unlocked badge" href="javascript:void(0);">
	<i class="fa fa-unlock"></i>
</a>
<a class="eb-state-default badge" href="javascript:void(0);">
	<i class="fa fa-star"></i>
</a>
<a class="eb-state-featured badge" href="javascript:void(0);">
	<i class="fa fa-star"></i>
</a>
*/
.eb-state-archived {
	background: #3b3f45;
}
.eb-state-publish {
	background: #7CC110;
}
.eb-state-unpublish {
	background: #B94A48;
}
.eb-state-core {
	background: #7CC110;
}
.eb-state-no-core {
	background: #B94A48;
}
.eb-state-trash {
	background: #B94A48;
}
.eb-state-scheduled {
	background: #5BC0DE;
}
.eb-state-locked {
	background: #aaa;
}
.eb-state-unlocked {
	background: #D88B1E;
}
.eb-state-default {
	background: #aaa;
}
.eb-state-featured {
	background: #D88B1E;
}

