.ebd-workarea.is-standalone {

    width: 100%;
    height: 100%;
    margin: 0;
    display: table;

    .ebd {
        padding: 0;
        width: 100%;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .ebd-block {
        border: 0;
        text-align: left;

        &:before {
            margin: 0;
            padding: 0;
        }
    }
}

.ebd-block.is-standalone {
    display: inline-block;
    position: relative;
}