.eb-composer-blocks {

    &.is-searching {

        .eb-composer-toolbar-set[data-name=blocks] {
            display: none;
        }

        .eb-composer-toolbar-set[data-name=blocks-search] {
            display: table;
        }
    }

    .hint-empty {
        display: none;
    }

    &.is-empty {
        .hint-empty {
            display: table;
        }
    }
}