.eb-composer-blocks {

    .eb-composer-fieldset {
        padding: @eb-composer-gutter;
    }

    .eb-composer-fieldset-header {

        text-align: center;

        strong {
            text-transform: uppercase;
            line-height: 250%;
            letter-spacing: 1px;
        }
    }

    .eb-hint {
        display: none;
    }
}