/* Layout  */
@media (min-width: 1200px){
	.row-fluid [class*="span"]{
		margin-left: 2.5641025641026%!important;
	}
	.row-fluid [class*="span"]:first-child{
		margin-left:0!important;
	}
}
.st-radio{
	margin-bottom: 10px;
}
.row-fluid .st-items.span2{
	width: 18.364641%!important;
}
.row-fluid .st-desi.span10{
	width: 78.872928%!important;
}
.row-fluid [class*="span"]:first-child{
	margin-left:0!important;
}
li.ui-state-highlight{
	list-style: none;
	font-size: 15px;
}
li.ui-draggable span.st-name:before,li.ui-draggable span.st-name:after{
	font-family: 'IcoMoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
}
li.ui-draggable span.st-name:before{
	background: #04BAE7;
	padding: 5px 0px;
	display: inline-block;
	width: 28px;
	text-align: center;
	color: #fff;
	margin-right: 10px;
}

#getimage li{
	overflow: hidden;
}

.st-items li.ui-draggable span.st-name:after{
	content: "\e1ed";
	float: right;
	position: relative;
	top:6px;
}

.st-pageitem span.st-name:before{
    content:"\f00b"!important;
}
[class*="st-column"] span.st-name:before{
	content:"\f0db";
}
.st-module span.st-name:before{
	content:"\f009"!important;
}
[class*="st-tabs"] span.st-name:before{
	content:"\e231";
}
.st-divider span.st-name:before{
	content:"\e1e7"!important;
}


.st-desi,.st-items{
	border:#dbdbdb 1px solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px rgba(219, 219, 219, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(219, 219, 219, 0.75);
	box-shadow:         0px 0px 10px rgba(219, 219, 219, 0.75);
}
.st-title-layout{
	text-align: center;
	line-height: 40px;
	background: #e4e4e4;
	position: relative;
}
.st-title-layout .config{
	position: absolute;
	top: 9px;
	right: 0px;
	display: block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #555555;
	margin-right: 5px;
	cursor: pointer;
}

#pageconfig .st-close{
	width: 30px;
}
#pageconfig label{
	font-weight: bold;
}

.st-title-layout strong{
	color: #04BAE7;
	font-size: 16px;
}
.st-items .ui-state-highlight{
	margin: 10px 0;
	-webkit-box-shadow: 0px 0px 5px rgba(219, 219, 219, 0.75);
	-moz-box-shadow:    0px 0px 5px rgba(219, 219, 219, 0.75);
	box-shadow:         0px 0px 5px rgba(219, 219, 219, 0.75);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.st-items .ui-state-highlight:first-child{
	margin: 0;
}
.st-items .ui-state-highlight:hover{
	background: #04BAE7;
	color: #fff;
}

.st-desi .st-design-title{
	font-style:italic;
	font-size: 17px;
}
.st-desi .st-design-title:after{
	font-family: 'IcoMoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-size: 28px;
	padding: 0 10px;
	content: "\e1fd";
	position: relative;
	top: 4px;
}
#st-page .btn-group{
	padding-bottom: 10px;
}
#st-page>li{
	text-align: center;
}
#st-page>li .st-header-title{
	text-align: left;
}
#st-page .btn-group > .btn{
	margin-right: 10px;
	border:#dbdbdb 1px solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px rgba(219, 219, 219, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(219, 219, 219, 0.75);
	box-shadow:         0px 0px 10px rgba(219, 219, 219, 0.75);
}

li.ui-draggable-dragging.st-selectimage{
	width: 75px;
	height: 50px;
}
li.ui-draggable-dragging.st-selectimage [class^="icon-"]{
	display: none;
}
.ui-draggable-dragging,.ui-sortable-helper{
	z-index: 9900!important;
	list-style: none;
	background: #04BAE7;
	color: #fff;
	border:#dbdbdb 1px solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px rgba(219, 219, 219, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(219, 219, 219, 0.75);
	box-shadow:         0px 0px 10px rgba(219, 219, 219, 0.75);
}
#st-page .ui-state-highlight{
	padding: 0;
	margin-bottom: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px rgba(219, 219, 219, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(219, 219, 219, 0.75);
	box-shadow:         0px 0px 10px rgba(219, 219, 219, 0.75);
} 
#st-page .ui-state-highlight .st-header-title{
	background: #04BAE7;
	color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#st-page .st-edit,#st-page .st-close,#st-page .st-hide{
	position: relative;
	top: 6px;
	float: right;
	display: block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #555555;
	margin-right: 5px;
}

#st-page .st-edit,#st-page .st-close,#st-page .st-hide{
	cursor: pointer;
	z-index: 555;
}

#st-page .st-close{
	color: #bd362f;
	margin-right: 10px;
}
#st-page span[class^="st-"] [class^="icon-"]{
	font-size: 12px;
}
.st-column-container .st-columns,.st-tabs-container .st-tabitems{
	margin-top: 10px;
}
.st-columns{
	margin: 0 2px;
}

/* Sortable items */
.none{
	display: none!important;
}

.sortable-list {
	list-style: none;
	margin: 0;
	height: 470px;
	overflow-y: auto;
	padding: 10px;
	border-radius: 4px;
}
.sortable-column,.sortable-tabitem{
	border:#dbdbdb 1px solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px rgba(219, 219, 219, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(219, 219, 219, 0.75);
	box-shadow:         0px 0px 10px rgba(219, 219, 219, 0.75);
	background: #fff;
	list-style: none;
	margin: 0;
	min-height: 80px;
	padding: 25px 5px 10px;
}
.sortable-list li:hover{
	cursor: move;
}

.sortable-item {
	background-color: #FFF;
	border: 1px solid #000;
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 20px 0;
	text-align: center;
}

/* draggable items */

.draggable-list {
	background-color: #F93;
	list-style: none;
	margin: 0;
	min-height: 60px;
	padding: 10px;
}
.draggable-item {
	background-color: #FFF;
	border: 1px solid #000;
	cursor: move;
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 20px 0;
	text-align: center;
}


/* Item placeholder (visual helper) */

.placeholder {
	background-color: #BFB;
	border: 1px dashed #666;
	margin: 5px; 
	height: 20px;
	margin-bottom: 5px;
}

li.ui-state-highlight{
	padding:5px;
	position: relative;
	margin: 0;
	line-height: 28px;
}

/*           Toolbar              */
#toolbar .st-namepage{
	display: inline-block;
	margin-left: 20px;
}
#toolbar .st-namepage .control-group{
	margin-bottom: 0;
}
#toolbar .st-namepage .control-group label{
	font-weight: bold;
}
#toolbar .st-namepage .control-group .controls{
	margin-left: 110px;
}


/*           Navigation             */
.st-nav-title{
	padding: 0 5px;
	color: #fff;
	font-size: 17px;
	line-height: 40px;
	margin-bottom: 10px;
	background: #04BAE7;
}
.st-nav-title [class^="icon-"]:first-child{
	padding:0 0 0 10px; 
}
.st-nav-title .st-close{
	float: right;
}
.st-nav-title .st-close .icon-cancel-circle{
	cursor: pointer;
	color: #bd362f;
	padding: 5px;
	background: #fff;
	font-size: 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.st-nav-option{
	padding: 0 10px 20px 15px;
}
.st-nav-option .nav-tabs{
	margin-bottom: 0;
}
.st-nav-option .nav-tabs a{
	color: #555555;
}
.st-nav-option .nav-tabs [class^="icon-"]{
	margin-right: 5px;
	font-size: 16px;
}
.st-nav-option button.btn-primary{
	margin-right: 10px;
}
.st-nav-option .tab-content{
	border: 1px solid #ddd;
	border-top:0px;
	background: #fff;
	padding: 10px;
	min-height: 425px;
}
.st-nav-option #st-element-map .tab-content{
	min-height: 400px;
}
.st-nav-option .st-dragimage,.st-nav-option .st-sortimage{
	position: relative;
	height: 360px;
	overflow-y: auto;
	border: 1px solid #ddd;
	margin-top: 15px;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 5px rgba(219, 219, 219, 0.75);
	-moz-box-shadow:    0px 0px 5px rgba(219, 219, 219, 0.75);
	box-shadow:         0px 0px 5px rgba(219, 219, 219, 0.75);
}
.st-nav-option.st-slider-option .st-sortimage{
	height: 200px;
}
.st-nav-option.st-slider-option .st-sortimage #sortImage{
	min-height: 200px;
}
.st-nav-option.st-slider-option .st-sortimage #sortImage .st-selectimage{
	cursor: pointer;
}
.st-nav-option.st-slider-option .st-sortimage #sortImage .st-selectimage.selected img{
	border:1px solid red;
}
.st-nav-option.st-slider-option .st-sortimage #sortImage .placeholder{
	height: 48px!important;
}
.st-nav-option.st-slider-option .st-desc-item{
	margin-top: 10px;
}


.st-nav-option .tab-pane>.row-fluid>.span2{
	background: url(../images/drag-drop-image.jpg) no-repeat center center;
	min-height: 380px;
	position: relative;
}
.st-nav-option .tab-pane>.row-fluid>.span2>span{
	position: absolute;
	display: block;
	width: 100%;
	top: 65%;
	text-align: center;
}
.st-nav-option .tab-pane strong{
	color: #04BAE7;
}
.st-navigation .st-listmodule{
	margin-bottom: 10px;
}
.st-navigation .btn{
	margin-top: 20px;
}

.st-navigation .icon-minus-2:before{
	color: #fff;
}
.st-button-group{
	text-align: center;
}
.st-nav-option{
	overflow-y: auto;
}
#sortImage{
	min-height: 350px;
}
#sortImage li [class^="icon-"]{
	position: absolute;
	top: 0;
	right: 0;
	color: #bd362f;
	background: #fff;
	padding: 1px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
}
#dragImage li [class^="icon-"]{
	display: none;
}
#st-navigation img,li.st-selectimage img{
	width: 100%;
}

#st-navigation .st-dragimage .st-loadding{
	position: absolute;
	top: 40%;
	left: 40%;
	z-index: 9990;
	color: #fff;
}
#st-navigation .st-dragimage .st-loadding .icon-spinner-5{
	font-size: 60px;
}
#st-navigation .st-dragimage .st-mark{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;

}
#st-navigation #getimage .st-path{
	margin: 0;
	margin-left: 10px;
	width: 180px;
}
#st-navigation #getimage .st-go{
	margin:0;
	margin-left: 10px;
}
#dragImage,#sortImage{
	margin: 0;
	list-style: none;
}
#dragImage li,#sortImage li{
	position: relative;
	width: 83px;
	height: 60px;
	float: left;
	margin: 0px 10px 10px 0;
}
#dragImage li:nth-child(3n),#sortImage li:nth-child(3n){
	margin: 0 0 10px;
}
#dragImage li img{
	
}
/*        End Navigation             */


.st-column-container .btn-group{
	text-align: center;
	margin-top: 10px;
}
.st-column-container .btn-group .btn.active{
	background: #ddd;
}
#st-page .st-edit,#st-page .st-close{
	cursor: pointer;
	z-index: 555;
}


#st-page li{
	line-height: 36px;
}
#st-page li:hover>.st-edit,#st-page li:hover>.st-close{
	display: block;
}

#draggable .st-close,#draggable .st-edit,#draggable .st-hide{
	display: none;
}

body>.ui-draggable .st-close,body>.ui-draggable .st-edit{
	display: none;
}
body>.ui-draggable .st-name{
	line-height: 40px;
}


[id*="st-element-"]{
	margin-bottom: 10px;
}

.st-columns [class*="span"]{
	position: relative;
}
.st-columns [class*="span"] .st-changerow{
	position: absolute;
	line-height: 25px;
	width: 25px;
	right: 1px;
	text-align: center;
	border: 1px solid #ddd;
	border-top: none;
	border-right: none;
	display: none;
	cursor: pointer;
	top: 1px;
	color: #666;
	border-bottom-left-radius: 3px;
}
.st-columns [class*="span"]:hover .st-changerow{
	display: block;
}
.st-tabitems{
	margin-bottom: 25px;
	position: relative;
}
.st-tabitems .nav-tabs{
	margin-bottom: 0px;
}

.nav-tabs .st-tab{
	position: relative;
	padding-right: 20px;
}
.nav-tabs .st-tab .icon-cancel-circle{
	position: absolute;
	top: 5px;
	right: 3px;
	font-size: 10px;
	color: #bd362f;
	display: none;
	cursor: pointer;
}
.nav-tabs .st-tab:hover .icon-cancel-circle{
	display: block;
}

/***************** Gmap ********************/

#examples a {
	text-decoration: underline;
}

#geocomplete {
	width: 200px
}

.map_canvas {
	width: 740px;
	height: 280px;
	margin: 10px auto 10px;
}


/**************** End Gmap *****************/

/*************** Module ********************/
.st-header-title{
	position: relative;
}

.st-header-title .st-modulename{
	position: absolute;
	margin-left: 10px;
}
.st-modulename:after, .st-pageitemtitle:after{
	content:" ) ";
}
.st-modulename:before, .st-pageitemtitle:before{
	content:" - ( ";
}

.map_canvas img {
    max-width: none!important;
}
.map_canvas label {
    width: auto!important; display:inline!important;
}
.st-design{
	overflow-x: hidden;
	position: relative;
}
#st-save-eff{
	display: none;
}
.st-design .over-message{
	position: absolute;
	background: rgba(0,0,0,0.7);
	color: #fff;
	left: 50%;
	top: 20%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 9999;
}
.st-design .over{
	position: absolute;
	color: #fff;
	width: 100%;
	height: 100%;
	z-index: 9998;
}

.st-design .over-message .icon-spinner{
	padding: 30px;
	font-size: 50px;
}

.st-design .over-message .message{
	font-size: 30px;
	padding: 40px 40px;
}
.st-design .over-message .message .icon-checkmark-4{
	color:#51a351;
}

#st-navigation label{
	font-weight: bold;
}
#st-navigation .st-radio label{
	font-weight: normal;
}
#st-navigation .st-radio label:hover{
	cursor: pointer;
}

#st-page{
	padding-bottom: 60px;
	height: 410px;
}
.subhead{
	z-index: 9999;
}
::-webkit-input-placeholder {font-style: italic; }
::-moz-placeholder { font-style: italic; } /* firefox 19+ */
:-ms-input-placeholder { font-style: italic; } /* ie */