<?xml version="1.0" encoding="utf-8"?>
<config>
    <fields name="params" addfieldpath="/administrator/components/com_joomailermailchimpintegration/models/fields">
        <fieldset name="basic" label="JM_PARAMS_TITLE" description="JM_PARAMS_DESC">

            <field name="MCapi" type="text" default="" label="JM_API_KEY" description="JM_ENTER_MC_API_KEY" size="45" />
            <field name="@title1" type="title" default="" label="JM_NO_API_KEY_YET" description="JM_API_KEY_LINK" />

            <field name="showSetupInfo" type="setupinfo" default="" label="JM_SHOW_SETUP_INFO" description="JM_SHOW_SETUP_INFO_DESC" size="45" />

            <field name="archiveDir" type="text" default="/administrator/components/com_joomailermailchimpintegration/archive" label="JM_ARCHIVE_DIRECTORY" description="JM_ARCHIVE_DIRECTORY_DESCRIPTION" size="45" />

            <field name="@title2" type="title" default="" label="" description="JM_GA_DESCRIPTION" />
            <field name="gusername" type="text" default="" label="JM_GA_USERNAME" description="JM_GA_USERNAME_DESC" size="45" />
            <field name="gpw" type="password" default="" label="JM_GA_PASSWORD" description="JM_GA_PASSWORD_DESC" size="45" />
            <field name="gprofileid" type="text" default="" label="JM_GA_PROFILEID" description="JM_GA_PROFILEID_DESC" size="45" />

            <field name="@title3" type="title" default="" label="" description="JM_DEFAULT_CAMPAIGN_SETTINGS" />
            <field name="from_name" type="text" default="" label="JM_FROM_NAME" description="JM_FROM_NAME_PARAM_INFO" size="45" />
            <field name="from_email" type="text" default="" label="JM_FROM_EMAIL" description="JM_FROM_EMAIL_PARAM_INFO" size="45" />
            <field name="reply_email" type="text" default="" label="JM_REPLY_EMAIL" description="JM_REPLY_EMAIL_PARAM_INFO" size="45" />
            <field name="confirmation_email" type="text" default="" label="JM_CONFIRMATION_EMAIL" description="JM_CONFIRMATION_EMAIL_PARAM_INFO" size="45" />

            <field name="facebook_link" type="text" default="" label="JM_FACEBOOK_LINK" description="JM_FACEBOOK_INFO" size="45" />
            <field name="twitter_name" type="text" default="" label="JM_TWITTER_USERNAME" description="JM_TWITTER_INFO" size="45" />
            <field name="instagram_name" type="text" default="" label="JM_INSTAGRAM_USERNAME" description="JM_INSTAGRAM_INFO" size="45" />

            <field name="myspace_name" type="text" default="" label="JM_MYSPACE_USERNAME" description="JM_MYSPACE_INFO" size="45" />

            <field name="@title4" type="title" default="" label="" description="JM_JOMSOCIAL_INTEGRATION" />
            <field name="jomsocial_twitter_name" type="text" default="" label="JM_TWITTER_FIELD_CODE" description="JM_TWITTER_FIELD_CODE_INFO" size="45" />

            <field name="@title5" type="title" default="" label="" description="JM_KLOUT_INTEGRATION" />
            <field name="KloutAPI" type="text" default="" label="JM_KLOUT_API_KEY" description="JM_KLOUT_API_KEY_INFO" size="45" />

            <field name="@title6" type="title" default="" label="" description="JM_CRM_ACCOUNTS" />
            <field name="sugar_url" type="text" default="" label="JM_SUGARCRM_URL" description="JM_SUGARCRM_URL_INFO" size="45" />
            <field name="sugar_name" type="text" default="" label="JM_SUGARCRM_USERNAME" description="JM_SUGARCRM_INFO" size="45" />
            <field name="sugar_pwd" type="password" default="" label="JM_SUGARCRM_PASSWORD" description="JM_SUGARCRM_INFO" size="45" />

            <field name="highrise_url" type="text" default="" label="JM_HIGHRISE_URL" description="JM_HIGHRISE_URL_INFO" size="45" />
            <field name="highrise_api_token" type="text" default="" label="JM_HIGHRISE_API_TOKEN" description="JM_HIGHRISE_API_TOKEN_INFO" size="45" />

        </fieldset>

    </fields>
    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC"
        >
        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            filter="rules"
            class="inputbox"
            component="com_joomailermailchimpintegration"
            section="component">
        </field>
    </fieldset>
</config>
