<html><head>
<meta http-Equiv="Cache-Control" Content="no-cache">
<meta http-Equiv="Pragma" Content="no-cache">
<meta http-Equiv="Expires" Content="0">
<base href="">
</head>
    <body leftmargin="0" topmargin="0" offset="0" marginheight="0" marginwidth="0" bgcolor="#cfcfb5">

        <style>
            .headerTop { background-color:#CFCFB5; border-top:0px solid #000000; border-bottom:0px solid #FFFFFF; text-align:center; }
            .adminText { font-size:10px; color:#996600; line-height:200%; font-family:verdana; text-decoration:none; }
            .headerBar { background-color:#CFCFB5; border-top:0px solid #333333; }
            .title { font-size:20px; font-weight:bold; color:#CC6600; font-family:arial; line-height:110%; }
            .subTitle { font-size:11px; font-weight:normal; color:#666666; font-style:italic; font-family:arial; }
            td { font-size:12px; color:#000000; line-height:150%; font-family:trebuchet ms; }
            .sideColumn { background-color:#FFFFFF; border-right:1px dashed #CCCCCC; text-align:left; }
            .sideColumnText { font-size:11px; font-weight:normal; color:#999999; font-family:arial; line-height:150%; }
            .sideColumnTitle { font-size:15px; font-weight:bold; color:#333333; font-family:arial; line-height:150%; }
            .footerRow { background-color:#AFAEA4; font-size:10px; color:#996600; line-height:100%; font-family:verdana; }
            a { color:#AFAFAF; }
            img { border: none; }
        </style>


        <table class="backgroundTable" width="100%" bgcolor="#cfcfb5" cellpadding="10" cellspacing="0">
            <tr>
                <td valign="top" align="center">

                    <table id="contentTable" width="600" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="headerTop" style="background-color: rgb(207, 207, 181); border-top: 0px solid rgb(0, 0, 0); border-bottom: 0px solid rgb(255, 255, 255); text-align: center;" align="center"><span style="font-size: 10px; color: rgb(153, 102, 0); line-height: 200%; font-family: verdana; text-decoration: none;">Email not displaying correctly? <a href="*|ARCHIVE|*" style="font-size: 10px; color: rgb(153, 102, 0); line-height: 200%; font-family: verdana; text-decoration: none;">View it in your browser.</a></span></td>

                        </tr>

                        <tr>
                            <td style="background-color: rgb(255, 255, 255); border-top: 0px solid rgb(51, 51, 51);" valign="middle" align="left">
                                <div class="headerBar">
                                    <center><a href=""><img id="editableImg1"  src="http://joomlamailer.loc/administrator/components/com_joomailermailchimpintegration/templates/jleftcolumn/header_image.jpg" title="Your Company" alt="Your Company" align="center" border="0" /></a></center>
                                </div>
                            </td>
                        </tr>


                    </table>

                    <table class="bodyTable" width="600" bgcolor="#ffffff" cellpadding="20" cellspacing="0">
                        <tr>

                            <td class="sideColumn" style="background-color: rgb(255, 255, 255); border-right: 1px dashed rgb(204, 204, 204); text-align: left;" valign="top" width="115">

                                <span class="sideColumnText">
                                    <p>Lorem Ipsum Hello there!</p>
                                    
                                    <br>
                                    <span class="sideColumnTitle editable">In this issue</span>
                                    <ul>
                                        
                                        <li><a href="#Alloy Yachts Sloop4">Alloy Yachts Sloop</a></li>
                                        
                                        <li><a href="#Magdeburg6">Magdeburg</a></li>
                                        
                                        <li><a href="#Royal Huisman Three-masted Schooner1">Royal Huisman Three-masted Schooner</a></li>
                                        
                                    </ul>

                                    <br>

                                    

                                    

                                    
                                    <br>
                                    
                                    <span class="sideColumnTitle editable" style="font-size: 15px; font-weight: bold; color: rgb(51, 51, 51); font-family: arial; line-height: 150%;">
                                        Follow us
                                    </span>
                                    <br>
                                    <a href="http://twitter.com/123"><img  src="http://joomlamailer.loc/administrator/components/com_joomailermailchimpintegration/templates/jleftcolumn/twitter.png" id="twitterIcon" border="0" /></a>
                                    

                                    
                                    <a href="456"><img  src="http://joomlamailer.loc/administrator/components/com_joomailermailchimpintegration/templates/jleftcolumn/facebook.png" id="facebookIcon" border="0" /></a>
                                    

                                    
                                    <a href="http://www.myspace.com/789"><img  src="http://joomlamailer.loc/administrator/components/com_joomailermailchimpintegration/templates/jleftcolumn/myspace.png" id="myspaceIcon" border="0" /></a>
                                    

                                </span>
                            </td>

                            <td class="defaultText" style="font-size: 12px; color: rgb(0, 0, 0); line-height: 150%; font-family: trebuchet ms;" valign="top" width="485" bgcolor="#ffffff">
                                <p>Bacon Ipsum</p>

                                

                                
                                <br />
                                <span class="mainColumnTitle editable" style="font-size: 20px; font-weight: bold; color: rgb(204, 102, 0); font-family: arial; line-height: 110%;">
                                    <a href="http://joomlamailer.loc/index.php?option=com_k2&view=item&id=4">Alloy Yachts Sloop</a><a name="Alloy Yachts Sloop4"></a>
                                </span>
                                <p><img src="http://www.freakedout.de/demo_images/yachts/alloy_sloop.jpg" alt="Alloy Yachts Sloop" title="Alloy Yachts Sloop" /></p><p><a href="http://joomlamailer.loc/index.php?option=com_k2&view=item&id=4">Read more</a></p>
                                <br />
                                
                                <br />
                                <span class="mainColumnTitle editable" style="font-size: 20px; font-weight: bold; color: rgb(204, 102, 0); font-family: arial; line-height: 110%;">
                                    <a href="http://joomlamailer.loc/index.php?option=com_k2&view=item&id=6">Magdeburg</a><a name="Magdeburg6"></a>
                                </span>
                                <p><img src="http://www.freakedout.de/demo_images/yachts/magdeburg.jpg" alt="Magdeburg" title="Magdeburg" /></p><p><a href="http://joomlamailer.loc/index.php?option=com_k2&view=item&id=6">Read more</a></p>
                                <br />
                                
                                <br />
                                <span class="mainColumnTitle editable" style="font-size: 20px; font-weight: bold; color: rgb(204, 102, 0); font-family: arial; line-height: 110%;">
                                    <a href="http://joomlamailer.loc/index.php?option=com_k2&view=item&id=1">Royal Huisman Three-masted Schooner</a><a name="Royal Huisman Three-masted Schooner1"></a>
                                </span>
                                <p><img src="http://www.freakedout.de/demo_images/yachts/royal_huisman.jpg" alt="Royal Huisman Three-masted Schooner" title="Royal Huisman Three-masted Schooner" /></p><p><a href="http://joomlamailer.loc/index.php?option=com_k2&view=item&id=1">Read more</a></p>
                                <br />
                                

                                

                                

                                

                                

                            </td>
                        </tr>

                        <tr>
                            <td class="footerRow" style="background-color: rgb(175, 174, 164);" colspan="2" valign="top">
                                *|LIST:DESCRIPTION|* <br>

                                <br>
                                <a href="*|UNSUB|*" style="color: rgb(255, 255, 255);">Unsubscribe</a> *|EMAIL|* from this list.<br>
                                <br>
                                Our mailing address is:<br>
                                *|LIST:ADDRESS|*<br>
                                <br>
                                Our telephone:<br>
                                *|LIST:PHONE|*<br>
                                <br>
                                Copyright (C) *|CURRENT_YEAR|* *|LIST:COMPANY|* All rights reserved.<br>

                                <br>
                                <a href="*|FORWARD|*" style="color: rgb(255, 255, 255);">Forward</a> this email to a friend

                            </td>
                        </tr>

                    </table>











                </td>
            </tr>
        </table>






    </body></html>