.eb-composer-field-permalink {

    .text-overflow();

    .permalink-editor a {
        line-height: 1;
        text-transform: lowercase;
    }
}

.eb-composer-permalink-edit {
    display: inline-block;
    width: 85%;
    vertical-align: middle;
    font-size: 11px;
    position: relative;

    .fa-link {
        display: inline-block;
        line-height: 12px;
        margin: -6px 0 0;

        position: absolute;
        left: 10px;
        top: 50%;
        z-index: 10;
    }
}