<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <body leftmargin="0" topmargin="0" offset="0" marginheight="0" marginwidth="0" bgcolor="#efefef">
        <style>
            .headerTop { background-color:#a7a7a7; border-top:0px solid #000000; text-align:center; }
            .adminText { font-size:10px; color:#efefef; line-height:200%; font-family:verdana; text-decoration:none; }
            .headerBar { background-color:#FFFFFF; border-top:0px solid #333333; }
            .title { font-size:20px; font-weight:bold; color:#640000; font-family:arial; line-height:110%; }
            .subTitle { font-size:11px; font-weight:normal; color:#666666; font-style:italic; font-family:arial; }
            .defaultText { font-size:12px; color:#000000; line-height:150%; font-family:trebuchet ms; }
            .footerRow { background-color:#FFFFCC; font-size:10px; color:#996600; line-height:100%; font-family:verdana; }
            a { color:#FF6600; }
        </style>
        <table class="backgroundTable" width="100%" bgcolor="#efefef" cellpadding="10" cellspacing="0">
            <tr>
                <td valign="top" align="center">
                    <table id="contentTable" width="550" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="headerTop" style="background-color: rgb(239, 239, 239); border-top: 0px solid rgb(0, 0, 0); text-align: center;" align="center"><span style="font-size: 10px; color: rgb(153, 102, 0); line-height: 200%; font-family: verdana; text-decoration: none;">Email not displaying correctly? <a href="*|ARCHIVE|*" style="font-size: 10px; color: rgb(153, 102, 0); line-height: 200%; font-family: verdana; text-decoration: none;">View it in your browser.</a></span></td>
                        </tr>
                        <tr>
                            <td class="headerBar" style="background-color: rgb(255, 255, 255); border-top: 0px solid rgb(51, 51, 51);">
                                <center><a href=""><img id="editableImg1" src="header_image.jpg" title="Your Company" alt="Your Company" align="center" border="0" /></a></center>
                            </td>
                        </tr>
                    </table>
                    <table class="bodyTable" width="550" bgcolor="#ffffff" cellpadding="20" cellspacing="0">
                        <tr>
                            <td class="defaultText" style="font-size: 12px; color: rgb(0, 0, 0); line-height: 150%; font-family: trebuchet ms;" valign="top" bgcolor="#ffffff">
                                <#intro_content#>

                                <#repeater#>
                                <br />
                                <span class="mainColumnTitle editable" style="font-size: 20px; font-weight: bold; color: rgb(204, 102, 0); font-family: arial; line-height: 110%;">
                                    <#title#>
                                </span>
                                <#content#>
                                <br />
                                <#/repeater#>

                                <#K2repeater#>
                                <br />
                                <span class="mainColumnTitle editable" style="font-size: 20px; font-weight: bold; color: rgb(204, 102, 0); font-family: arial; line-height: 110%;">
                                    <#title#>
                                </span>
                                <#content#>
                                <br />
                                <#/K2repeater#>

                                <#easyblogrepeater#>
                                <br />
                                <span class="mainColumnTitle editable" style="font-size: 20px; font-weight: bold; color: rgb(204, 102, 0); font-family: arial; line-height: 110%;">
                                    <#title#>
                                </span>
                                <#content#>
                                <br />
                                <#/easyblogrepeater#>

                                <#jomsocialprofiles#>
                                <h3 class="mainColumnTitle">Featured Members</h3>
                                <table width="100%">
                                    <#jomsocialprofilesrepeater#>
                                    <tr>
                                        <td width="50"><#jsAvatar#></td>
                                        <td><#jsName#></td>
                                        <td><#jsfieldsrepeater#><#jsFieldTitle#>: <#jsFieldValue#><br /><#/jsfieldsrepeater#></td>
                                    </tr>
                                    <#/jomsocialprofilesrepeater#>
                                </table>
                                <#/jomsocialprofiles#>

                                <#jomsocialdiscussions#>
                                <h3 class="mainColumnTitle">Discussions</h3>
                                <table width="100%">
                                    <#jomsocialdiscussionsrepeater#>
                                    <tr>
                                        <td><#jsDiscussionContent#></td>
                                    </tr>
                                    <#/jomsocialdiscussionsrepeater#>
                                </table>
                                <#/jomsocialdiscussions#>

                                <#aec#>
                                <h3 class="mainColumnTitle">Subscription Plans</h3>
                                <table width="100%">
                                    <#aecrepeater#>
                                    <tr>
                                        <td><#aeccontent#></td>
                                    </tr>
                                    <#/aecrepeater#>
                                </table>
                                <#/aec#>

                            </td>
                        </tr>
                        <tr>
                            <td class="footerRow" style="background-color: rgb(100, 0, 0);" valign="top">
                                *|LIST:DESCRIPTION|* <br />
                                <br />
                                <a href="*|UNSUB|*">Unsubscribe</a> *|EMAIL|* from this list.<br />
                                <br />
                                Our mailing address is:<br />
                                *|LIST:ADDRESS|*<br />
                                <br />
                                Our telephone:<br />
                                *|LIST:PHONE|*<br />
                                <br />
                                Copyright (C) *|CURRENT_YEAR|* *|LIST:COMPANY|* All rights reserved.<br />
                                <br />
                                <a href="*|FORWARD|*">Forward</a> this email to a friend
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
